/****** Object:  Table [dbo].[HIBOPActivityMasterMarketing]    Script Date: 2/22/2019 3:06:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[HIBOPActivityMasterMarketing]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[HIBOPActivityMasterMarketing](
	[UniqMarketingSubmission] [int] NOT NULL,
	[UniqEntity] [int] NULL,
	[UniqAgency] [int] NULL,
	[UniqBranch] [int] NULL,
	[DescriptionOf] [varchar](125) NULL,
	[UniqCdPolicyLineType] [int] NULL,
	[EffectiveDate] [datetime] NULL,
	[ExpirationDate] [datetime] NULL,
	[LastSubmittedDate] [datetime] NULL,
	[Flags] [int] NULL,
	[InsertedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
	[UniqDepartment] [int] NULL
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_HIBOPActivityMasterMarketing_ExpirationDate]    Script Date: 2/22/2019 3:06:22 AM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[HIBOPActivityMasterMarketing]') AND name = N'IX_HIBOPActivityMasterMarketing_ExpirationDate')
CREATE NONCLUSTERED INDEX [IX_HIBOPActivityMasterMarketing_ExpirationDate] ON [dbo].[HIBOPActivityMasterMarketing]
(
	[ExpirationDate] ASC
)
INCLUDE ( 	[UniqMarketingSubmission],
	[UniqEntity],
	[UniqAgency],
	[UniqBranch],
	[DescriptionOf],
	[EffectiveDate],
	[LastSubmittedDate],
	[Flags],
	[InsertedDate],
	[UpdatedDate],
	[UniqDepartment]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_HIBOPActivityMasterMarketing_UniqMarketingSubmission]    Script Date: 2/22/2019 3:06:22 AM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[HIBOPActivityMasterMarketing]') AND name = N'IX_HIBOPActivityMasterMarketing_UniqMarketingSubmission')
CREATE NONCLUSTERED INDEX [IX_HIBOPActivityMasterMarketing_UniqMarketingSubmission] ON [dbo].[HIBOPActivityMasterMarketing]
(
	[UniqMarketingSubmission] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Marketing_UniqCdPolicyLineType]    Script Date: 2/22/2019 3:06:22 AM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[HIBOPActivityMasterMarketing]') AND name = N'IX_Marketing_UniqCdPolicyLineType')
CREATE NONCLUSTERED INDEX [IX_Marketing_UniqCdPolicyLineType] ON [dbo].[HIBOPActivityMasterMarketing]
(
	[UniqCdPolicyLineType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
/****** Object:  Index [IX_Marketing_UniqEntity]    Script Date: 2/22/2019 3:06:22 AM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[HIBOPActivityMasterMarketing]') AND name = N'IX_Marketing_UniqEntity')
CREATE NONCLUSTERED INDEX [IX_Marketing_UniqEntity] ON [dbo].[HIBOPActivityMasterMarketing]
(
	[UniqEntity] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
