/****** Object:  Table [dbo].[HIBOPGetActivityAccountTemp]    Script Date: 2/22/2019 3:06:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[HIBOPGetActivityAccountTemp]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[HIBOPGetActivityAccountTemp](
	[AccountId] [int] IDENTITY(1,1) NOT NULL,
	[UniqEntity] [int] NULL,
	[UniqAgency] [int] NULL,
	[AgencyCode] [varchar](4) NULL,
	[AgencyName] [varchar](100) NULL,
	[UniqBranch] [int] NULL,
	[BranchCode] [varchar](10) NULL,
	[BranchName] [varchar](100) NULL,
	[InsertedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
	[Lookupcode] [varchar](6) NULL,
	[Client_UpdatedDate] [datetime] NULL,
	[Client_InsertedDate] [datetime] NULL
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_ActivityAccount_HIBOPGetActivityAccountTemp]    Script Date: 2/22/2019 3:06:22 AM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[HIBOPGetActivityAccountTemp]') AND name = N'IX_ActivityAccount_HIBOPGetActivityAccountTemp')
CREATE NONCLUSTERED INDEX [IX_ActivityAccount_HIBOPGetActivityAccountTemp] ON [dbo].[HIBOPGetActivityAccountTemp]
(
	[Lookupcode] ASC,
	[UniqAgency] ASC,
	[UniqBranch] ASC,
	[UniqEntity] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_HIBOPGetActivityAccountTemp_Lookup_ClientIns_Upd_Date]    Script Date: 2/22/2019 3:06:22 AM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[HIBOPGetActivityAccountTemp]') AND name = N'IX_HIBOPGetActivityAccountTemp_Lookup_ClientIns_Upd_Date')
CREATE NONCLUSTERED INDEX [IX_HIBOPGetActivityAccountTemp_Lookup_ClientIns_Upd_Date] ON [dbo].[HIBOPGetActivityAccountTemp]
(
	[Lookupcode] ASC,
	[Client_InsertedDate] ASC,
	[Client_UpdatedDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_HIBOPGetActivityAccountTEMP_LOOKUPCODE]    Script Date: 2/22/2019 3:06:22 AM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[HIBOPGetActivityAccountTemp]') AND name = N'IX_HIBOPGetActivityAccountTEMP_LOOKUPCODE')
CREATE NONCLUSTERED INDEX [IX_HIBOPGetActivityAccountTEMP_LOOKUPCODE] ON [dbo].[HIBOPGetActivityAccountTemp]
(
	[Lookupcode] ASC
)
INCLUDE ( 	[UniqEntity],
	[Client_UpdatedDate],
	[Client_InsertedDate]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
