/****** Object:  Table [dbo].[HIBOPCarrierSubmission]    Script Date: 2/22/2019 3:06:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[HIBOPCarrierSubmission]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[HIBOPCarrierSubmission](
	[CarrierSubmissionId] [int] IDENTITY(1,1) NOT NULL,
	[UniqCarrierSubmission] [int] NULL,
	[Carrier] [varchar](125) NULL,
	[CarrierSubmission] [varchar](125) NULL,
	[UniqMarketingSubmission] [int] NULL,
	[UniqEntity] [int] NULL,
	[LastSubmittedDate] [datetime] NULL,
	[RequestedPremium] [numeric](19, 4) NULL,
	[SubmissionStatus] [varchar](70) NULL,
	[InsertedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
	[UniqActivity] [int] NULL
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Index [IX_Carrier_UniqEntity]    Script Date: 2/22/2019 3:06:22 AM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[HIBOPCarrierSubmission]') AND name = N'IX_Carrier_UniqEntity')
CREATE NONCLUSTERED INDEX [IX_Carrier_UniqEntity] ON [dbo].[HIBOPCarrierSubmission]
(
	[UniqEntity] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
