<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <appSettings>
    <!--In Hour (24 Hour Format)-->
    <add key="RestartTime" value="4"/>
    <add key="SqliteDBWALPath" value="C:\HG IT Services\HIBOutlook.db-wal" />
    <add key="SqliteDBSHMPath" value="C:\HG IT Services\HIBOutlook.db-shm" />
  </appSettings>
</configuration>
